body {
  background-color: #8eaeff;
}

#output {
  display: none;
}
#pizza {
  width:240px;
  height:121px;
  background: red;
  background-image: url('transparentPizza.png');
  margin:auto;
  background-size: 240px 121px;
}

.form-box {
  padding:40px;
  background-color: white;
  margin-top:20px;
  margin-bottom:20px;
}

#output {
  padding:30px;
  width:300px;
  margin:auto;
  background-color: white;
}

h1 {
  text-align:center;
  font-family: 'Gochi Hand', cursive;
  font-size:50px;
}

h2 {
  text-align:center;
  font-family: 'Gochi Hand', cursive;
  font-size:34px;
}
